<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="toolbar__icon-button mat-button">
      <mat-icon>web</mat-icon>
      <span style="margin-left: 7px;">WEB 425</span>
    </button>
    <button class="mat-button">
      About
    </button>
    <button class="mat-button">
      Contact Us
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav"></mat-sidenav>
  <mat-sidenav-content class="main-content">
    <input type="text" placeholder="Enter Stock (e.g. AAPL)" (change)="onChangeEvent($event)" />
    <app-order [stockSymbol]="stock" [quantity]="numberOfShares"></app-order>
  </mat-sidenav-content>
</mat-sidenav-container>