.container {
    height: calc(100vh - 64px);
}

.sidenav {
    width: 25%;
    background-color: blue;
}

.sidenav-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card {
    margin: 50px;
}

form {
    width: 90%;
}


mat-card-actions {
    text-align: right;
}